:root {
  --bg: #0f172a;
  --card: #020617;
  --primary: #38bdf8;
  --secondary: #94a3b8;
  --text: #e5e7eb;
  --muted: #9ca3af;
  --radius: 14px;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, sans-serif;
}

html, body {
  width: 100%;
  min-width: 320px;
  background: linear-gradient(180deg, #020617, #020617);
  color: var(--text);
  line-height: 1.7;
}

/* HERO */
header {
  padding: 10vh 5%;
  text-align: center;
  background: radial-gradient(circle at top, #0ea5e9, transparent 60%);
}

header h1 {
  font-size: clamp(2rem, 5vw, 3rem); /* escala fluida */
  font-weight: 700;
}

header p {
  margin-top: 0.8rem;
  font-size: clamp(1rem, 3vw, 1.2rem);
  color: var(--secondary);
}

/* SECTIONS */
section {
  width: 90%;
  max-width: 1000px;
  margin: 5rem auto;
}

section h2 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  margin-bottom: 1.5rem;
  position: relative;
}

section h2::after {
  content: "";
  width: 60px;
  height: 4px;
  background: var(--primary);
  position: absolute;
  left: 0;
  bottom: -10px;
  border-radius: 10px;
}

/* CARDS */
.card {
  background: var(--card);
  padding: 2rem;
  border-radius: var(--radius);
  margin-bottom: 2rem;
  border: 1px solid #020617;
  transition: transform 0.3s ease, border 0.3s ease;
  width: 100%;
}

.card:hover {
  transform: translateY(-5px);
  border: 1px solid var(--primary);
}

.card h3 {
  margin-bottom: 0.5rem;
  color: var(--primary);
  font-size: clamp(1.2rem, 3vw, 1.5rem);
}

.card span {
  font-size: clamp(0.8rem, 2.5vw, 0.9rem);
  color: var(--muted);
}

/* SKILLS */
.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 1rem;
}

.skill {
  background: var(--card);
  padding: 0.8rem;
  text-align: center;
  border-radius: var(--radius);
  border: 1px solid #1e293b;
  font-size: clamp(0.7rem, 2.5vw, 0.95rem);
}

.img, .logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0.5rem auto 0;
  opacity: 0.9;
}

.logo{
  width: 10%;
  float: right;


}

/* LINKS */
a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* FOOTER / CONTACT */
.contact p {
  margin-bottom: 0.5rem;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}

/* RESPONSIVE ADJUSTMENTS */
@media (max-width: 768px) {
  header {
    padding: 8vh 5%;
  }

  section {
    margin: 3rem auto;
  }

  section h2::after {
    width: 40px;
    height: 3px;
  }

  .card {
    padding: 1.5rem;
  }
}
