:root {
  --bg: #0f172a;
  --card: #020617;
  --primary: #38bdf8;
  --secondary: #94a3b8;
  --text: #e5e7eb;
  --muted: #9ca3af;
  --radius: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, sans-serif;
}

body {
  background: linear-gradient(180deg, #020617, #020617);
  color: var(--text);
  line-height: 1.7;
  align-items: center;
}

/* HERO */
header {
  padding: 100px 20px;
  text-align: center;
  background: radial-gradient(circle at top, #0ea5e9, transparent 60%);
}

header h1 {
  font-size: 3rem;
  font-weight: 700;
}

header p {
  margin-top: 15px;
  font-size: 1.2rem;
  color: var(--secondary);
}

/* SECTIONS */
section {
  max-width: 1000px;
  margin: 80px auto;
  padding: 0 20px;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  position: relative;
}

section h2::after {
  content: "";
  width: 60px;
  height: 4px;
  background: var(--primary);
  position: absolute;
  left: 0;
  bottom: -10px;
  border-radius: 10px;
}

/* CARDS */
.card {
  background: var(--card);
  padding: 25px;
  border-radius: var(--radius);
  margin-bottom: 30px;
  border: 1px solid #020617;
  transition: transform 0.3s ease, border 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  border: 1px solid var(--primary);
}

.card h3 {
  margin-bottom: 10px;
  color: var(--primary);
}

.card span {
  font-size: 0.9rem;
  color: var(--muted);
}

/* SKILLS */
.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 15px;
}

.skill {
  background: #020617;
  padding: 12px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #1e293b;
  font-size: 0.95rem;
}

.img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  display: block;

  opacity: 0.9;
}

.logo {
  width: 60px; 
  height: 60px;
  object-fit: contain;
  display: inline-block;
  margin-top: 10px;
  opacity: 0.9;
}




/* LINKS */
a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* FOOTER / CONTACT */
.contact p {
  margin-bottom: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  header h1 {
    font-size: 2.2rem;
  }
}
